<h1>編集画面</h1>
<%= form_with model: @user,url: user_path(@user), method: :patch, local: true do |form| %>
  <p>お名前：<%= form.text_field :name %></p>
  <p>年齢：<%= form.text_field :age %></p>
  <%= form.submit "送信" %>
<% end %>